@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/textfield/mdc-text-field';
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/dialog/mdc-dialog";

body {
  font-family: sans-serif;
  height: 100%;
}

.container {
  padding: 10px;
  height: 100%;
}

.mdc-button {
  width: 100%;
  height: 100%;
}

.historyarea {
  padding: 5px;
}

.mdc-text-field {
  width: 100%;
}

.btn-number {
  @include button.container-fill-color(darksalmon);
}

.btn-operation {
  @include button.container-fill-color(rgb(122, 124, 233));
}

.btn-result {
  @include button.container-fill-color(rgb(190, 190, 0));
}

.btn-clear {
  @include button.container-fill-color(rgb(187, 41, 41));
}

.btn-clearhistory {
  @include button.container-fill-color(rgb(187, 41, 41));
  height: 60px;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.grid-container {
  height: 100% !important;
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}



.input-item {
  padding-top: 0px;
  grid-column: 1/4;
}

html, body {
  height: 100%;
}

